/* Import a Google Font for better typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/61a12a2eddf8af2e0a7a00f206e91348.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  color: white;
}

.App-header h1 {
  font-family: 'Montserrat', sans-serif; /* Use the Google font */
  font-size: 4rem; /* Large font size */
  font-weight: bold;
  color: #00aaff; /* Light blue color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  margin: 0;
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App-header h1 {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .App-header h1 {
    font-size: 2rem;
  }
}
